* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  background: #ffc600;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

label {
  display: block;
}

.photobooth {
  background: white;
  border-radius: 10px;
}

.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.rgb {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
}

.display {
  display: flex;
  align-items: start;
  gap: 20px;
}

.photo {
  flex: 1;
}

.player {
  width: 200px;
}

/*
  Strip!
*/

.strip {
  padding: 2rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: white;
}

.strip a:nth-child(5n + 1) img {
  transform: rotate(10deg);
}
.strip a:nth-child(5n + 2) img {
  transform: rotate(-2deg);
}
.strip a:nth-child(5n + 3) img {
  transform: rotate(8deg);
}
.strip a:nth-child(5n + 4) img {
  transform: rotate(-11deg);
}
.strip a:nth-child(5n + 5) img {
  transform: rotate(12deg);
}
