* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
}

svg {
  margin-inline: auto;
  margin-bottom: 50px;
  width: 200px;
  padding: 20px;
  fill: white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.wrapper {
  max-width: 350px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0;
  font-weight: 200;
  text-align: center;
}

.plates {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;

  li {
    display: flex;
    padding: 10px 0;
    font-weight: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  label {
    flex: 1;
    cursor: pointer;
  }

  input {
    display: none;
    + label:before {
      content: '⬜️';
      margin-right: 10px;
    }
    &:checked + label:before {
      content: '🌮';
    }
  }
}

.add-items {
  margin-top: 20px;
  input,
  button {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  button {
    cursor: pointer;
  }
}
