html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  min-height: 100vh;
}

.key {
  width: 10rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  border: 0.4rem solid white;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  text-shadow: 0 0 0.5rem black;
}

.playing {
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  transform: scale(1.1);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
